<div class="social-links">
    <div class="social-links__container">
        <div class="social-links__header">
            SEGUICI SUI SOCIAL
        </div>
        <ul class="social-links__items-wrapper">
            <li class="social-links__item">
                <a href="#" class="icon_facebook-red"></a>
            </li>
            <li class="social-links__item">
                <a href="#" class="icon_twitter-red"></a>
            </li>
            <li class="social-links__item">
                <a href="#" class="icon_printerest-red"></a>
            </li>
            <li class="social-links__item">
                <a href="#" class="icon_instagramm-red"></a>
            </li>
        </ul>
    </div>
</div>
