<form action="#" class="form form_newsletter">
    <div class="form_newsletter__container">
        <h2 class="form_newsletter__header">NEWSLETTER</h2>
        <p>Proin dapibus enim mauris. <br>Curabitur sollicitudin placerat sodales.</p>
        <div class="form_newsletter__input-wrapper">
            <input type="email" class="form_input" placeholder="ENTER YOUR EMAIL ADDRESS" autocomplete="on" required>
            <button class="form_newsletter__btn icon_arrow-right-mini" type="submit"></button>
        </div>
        <label class="form_checkbox-label">
        <input class="form_checkbox" type="checkbox" id="#" required>I read the privacy policy...</label></div>

</form> 
