<footer class="footer">

    <ul class="footer-menu">
        <li class="footer-menu__item"><span class="footer-menu__icon icon_about-us"></span><a href="#">ABOUT US ETHICAL CODE LEGAMI FOR LIFE</a></li>
        <li class="footer-menu__item"><span class="footer-menu__icon icon_job"></span><a href="#">LAVORA CON NOI SPECIAL FOR BUSINESSES</a>
        </li>
        <li class="footer-menu__item"><span class="footer-menu__icon icon_contact-us"></span><a href="#">CONTATTACI</a></li>
    </ul>
    <div class="bottom-menu__wrapper">
        <ul class="bottom-menu">
            <li class="bottom-menu__li"><a class="bottom-menu__item" href="#">Text</a></li> 
            <li class="bottom-menu__li"><a class="bottom-menu__item" href="#">Text</a></li> 
            <li class="bottom-menu__li"><a class="bottom-menu__item" href="#">Text</a></li> 
            <li class="bottom-menu__li"><a class="bottom-menu__item" href="#">Text</a></li> 
            <li class="bottom-menu__li"><a class="bottom-menu__item" href="#">Text</a></li> 
            <li class="bottom-menu__li"><a class="bottom-menu__item" href="#">Text</a></li> 
            <li class="bottom-menu__li"><a class="bottom-menu__item" href="#">Text</a></li> 
            <li class="bottom-menu__li"><a class="bottom-menu__item" href="#">Text</a></li> 
            <li class="bottom-menu__li"><a class="bottom-menu__item" href="#">Text</a></li> 
            <li class="bottom-menu__li"><a class="bottom-menu__item" href="#">Text</a></li> 
            <li class="bottom-menu__li"><a class="bottom-menu__item" href="#">Text</a></li> 
            <li class="bottom-menu__li"><a class="bottom-menu__item" href="#">Text</a></li> 
        </ul>
        <div class="footer__copyright">Managed by triboo digitale</div>
    </div>
</footer>
