<article class="product-description">

    <section class="product-description__gallary">
        <img class="product-description__gallary-img" src="common/imgs/gallary/noname@1x_01.png" alt="noname">
        <img class="product-description__gallary-img" src="common/imgs/gallary/noname@1x_02.png" alt="noname">
        <img class="product-description__gallary-img" src="common/imgs/gallary/noname@1x_03.png" alt="noname">
        <img class="product-description__gallary-img" src="common/imgs/gallary/noname@1x_04.png" alt="noname">
        <img class="product-description__gallary-img" src="common/imgs/gallary/noname@1x_05.png" alt="noname">
        <img class="product-description__gallary-img" src="common/imgs/gallary/noname@1x_06.png" alt="noname">
    </section>
    <section class="product-description__img-wrapper">
        <img src="" class="product-description__product-preview">
    </section>
    <form class="form product-description__form" action="#">
        <h1 class="product-description__product-name">TACCUINO MAXI A RIGHE</h1>
        <div class="product-description__product-price">€16.90</div>
        <div class="product-description__product-producer">TACCUINO MAXI A RIGHE</div>
        <div class="product-description__producer-logo icon_fsc-logo"></div>
        <div>
            <span>QTY</span><input class="inputs" type="number" required min="1" step="1">
        </div>
        <button class="btn" type="submit">ADD TO CART <span class="icon_arrow-right"></span></button>
        <button class="btn" type="button"><span class="icon_pencil"></span> PERSONALIZZA</button>

        <ul class="">
            <li>DETAILS <span class="icon_arrow-bottom"></span>

            </li>
            <li>SHIPPING <span class="icon_arrow-bottom"></span>

            </li>
            <li>RETURNS <span class="icon_arrow-bottom"></span>

            </li>
        </ul>

        <ul class="product-description__social-links">
            <li class="product-description__li">
                <a href="#" class="icon_facebook"></a>
            </li>
            <li class="product-description__li">
                <a href="#" class="icon_twitter"></a>
            </li>
            <li class="product-description__li">
                <a href="#" class="icon_printerest"></a>
            </li>
        </ul>
    </form>
</article>
