.more-info {
  list-style: none;
  padding: 20px 0;
  color: #656565;
  &__item {
    cursor: pointer;
  }
  &__content {
    transition-duration: 0.3s;
    overflow: hidden;
    opacity: 0;
    height: 0;
    &_visible {
      opacity: 1;
      margin: 10px 0;
      height: auto;
    }
  }
}