@import "variables";


.product-links {
  @extend .container;
  color: #0a0a0a;
  &__header {
    font-size: 20px;
  }
  &__item {
    padding: 5px 0;
    display: block;
    transition-duration: 0.3s;
    &:hover {
      color: $clr-success;
    }
  }
}